
<section class='home_main_container'>

    <div class='host_explanation_box' ng-show='showHostExplanationBox'>
        <p>You selected door {{ userChoice }}. The Host comes 
            out and opens door {{ doorOpenedByHost }}, revealing a
            goat behind it.</p>
        <p> You can now either stick with the door
            you selected, or switch to the other unopened door. Once 
            you click a door, it will open, and you get to keep whatever
            is behind it!</p>
        <button ng-click='hideHostExplanationBox()'>OK</button>
    </div>
    
    <div class='stats'>
        <h2>Stats</h2>

        <h3>Winnings:</h3>
        <h5>Cars won: {{ carsWon }}</h5>
        <h5>Goats won: {{ goatsWon }}</h5>

        <h3>Success rate:</h3>
        <h5>Switch doors: {{ switchSuccess }}%</h5>
        <h5>Don't switch: {{ staySuccess }}%</h5>
    </div>

    <div class='doorframe' id='door1'>
        <p class='prize' id='p1'>{{ prize1 }}</p>
        <div class='door' ng-click='pickDoor(1)' id='1'>1</div>
        <img src='./img/checkmark.png' ng-show='check1' class='checkmark'>
    </div>
    <div class='doorframe' id='door2'>
        <p class='prize' id='p2'>{{ prize2 }}</p>
        <div class='door' ng-click='pickDoor(2)' id='2'>2</div>
        <img src='./img/checkmark.png' ng-show='check2' class='checkmark'>
    </div>
    <div class='doorframe' id='door3'>
        <p class='prize' id='p3'>{{ prize3 }}</p>
        <div class='door' ng-click='pickDoor(3)' id='3'>3</div>
        <img src='./img/checkmark.png' ng-show='check3' class='checkmark'>
    </div>
    <p id='instructions' ng-click='playGame()'>Pick a door</p>

</section>
